body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#waterHeightChart {
  width: 800px;
  margin: auto;
}

#temperatureChart {
  width: 800px;
  margin: auto;
}

#rainChart {
  width: 800px;
  margin: auto;
}

#damLevelChart {
  width: 800px;
  margin: auto;
}
